@media(max-width:1366px){}

@media(max-width:1199px){}

@media(max-width:991px){
    .login-page h1 {
        font-size: 40px;
        color: red;
    }
}

@media(max-width:767px){}

@media(max-width:575px){
    .login-page h1{
        font-size: 10px;
        color: brown;
    }
}

@media(max-width:400px){}