<header id="header" *ngIf="restaurantInfo">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>{{restaurantInfo.restaurantName}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Restaurant Menu Section -->
<div id="restaurant-menu">
  <div class="container">
    <div class="section-title text-center">
      <h2>Menu</h2><br>
      <button *ngIf="userInfo" class="btn btn-primary" (click)="showCart()">Show Cart</button>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Breakfast & Starters</h2>
          <div class="menu-item" *ngFor="let obj of foodArray.breakfastAndStarters">
            <div class="menu-item-name">{{obj.foodName}}</div>
            <div class="menu-item-price">
              <span *ngIf="userInfo">
                <button (click)="addItem(obj)" class="text-primary">
                    +                  
                </button>
                <button *ngIf="obj.cartCount" class="text-danger" (click)="removeItem(obj)">
                    -                  
                </button>
              </span>
              {{obj.price}} 
              <br>
              <p *ngIf="obj.cartCount">x{{obj.cartCount}}</p>

            </div>
            <div class="menu-item-description"> {{obj.indredients}} </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Main Course</h2>
          <div class="menu-item" *ngFor="let obj of foodArray.mainCourse">
            <div class="menu-item-name">{{obj.foodName}}</div>
            <div class="menu-item-price"> 
              <span *ngIf="userInfo">
                <button (click)="addItem(obj)" class="text-primary">
                    +                  
                </button>
                <button *ngIf="obj.cartCount" (click)="removeItem(obj)" class="text-danger">
                    -                  
                </button>
              </span>
              {{obj.price}} 
              <br>
              <p *ngIf="obj.cartCount">x{{obj.cartCount}}</p>
            </div>
            <div class="menu-item-description">
              {{obj.indredients}} 
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Dinner</h2>
          <div class="menu-item" *ngFor="let obj of foodArray.dinner">
            <div class="menu-item-name">{{obj.foodName}}</div>
            <div class="menu-item-price"> 
              <span *ngIf="userInfo">
                <button (click)="addItem(obj)" class="text-primary">
                    +                  
                </button>
                <button *ngIf="obj.cartCount" class="text-danger" (click)="removeItem(obj)">
                    -                  
                </button>
              </span>
              {{obj.price}} 
              <br>
              <p *ngIf="obj.cartCount">x{{obj.cartCount}}</p>
            </div>
            <div class="menu-item-description">
              {{obj.indredients}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Desserts</h2>
          <div class="menu-item" *ngFor="let obj of foodArray.desserts">
            <div class="menu-item-name">{{obj.foodName}}</div>
            <div class="menu-item-price">
              <span *ngIf="userInfo">
                <button (click)="addItem(obj)" class="text-primary">
                    +                  
                </button>
                <button *ngIf="obj.cartCount" class="text-danger" (click)="removeItem(obj)">
                    -                  
                </button>
              </span>
              {{obj.price}} 
              <br>
              <p *ngIf="obj.cartCount">x{{obj.cartCount}}</p>
            </div>
              
            <div class="menu-item-description">
              {{obj.indredients}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
